$ cat .gitattributes
*.2 linguist-language=Dockerfile
*-2016.3 linguist-language=Dockerfile
*7-alpine3.10.2 linguist-language=Dockerfile
ubuntu14 linguist-language=Dockerfile
ubuntu16 linguist-language=Dockerfile
ubuntu18 linguist-language=Dockerfile
